header {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 10;
  background-position: center top;
  background-size: auto 200px;
  background-repeat: repeat-x;
}

.inner {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  display: block;
  width: 76px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
}

.logo > img {
  width: 45px;
  margin-top: 10px;
}


nav > a {
  font-family: "Arial", serif;
  font-size: 14px;
  color: #8c8c8e;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  margin: 0 18px;
}

nav > a.active,
nav > a:hover {
  color: #e91e63;
}
 .login {
     width: 72px;
     text-align: center;
     position: absolute;
     right: 10px;
     top: 27px;
     font-family: "Arial", sans-serif;
     font-size: 14px;
     color: #8c8c8e;
     text-transform: uppercase;
     letter-spacing: 3px;
     text-decoration: none;
     padding-bottom: 6px;
     border-bottom: 2px solid rgba(255, 255, 255, 0.3);
 }